
#bottom #responsive-bottom-left-content{
    display: inline-block;
    position: fixed;
    top: 4.1rem;
    width: 4rem;
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
    /* border: 1px solid red; */
}

#bottom #bottom-left-content{
    display: none;
    /* position: static;    */
}



#bottom #bottom-main-content{
    /* border: 2px solid black; */
     margin-left: 4rem;
     padding: 0rem 1rem;
     padding-top: 5rem;   
}

/* #bottom #bottom-main-content #feilds{
   
    width: calc(100% - 105px);
  background-color: black;
    
} */

    
    


#top #top-center-content {
    margin-left: 5rem;
    margin-right: 5rem;
}

#top #top-center-content #search {
   
    width: 90%;
    
    
}